<section xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    </div>
    </div>

    </div> <!-- container -->


    <div class="footer">
        <div class="pull-right hide-phone">
            Project Completed <strong class="text-custom">57%</strong>.
        </div>
        <div>
            <strong>Simple Admin</strong> - Copyright © 2017 - 2019
        </div>
    </div>

    </div> <!-- content -->

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->



    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js" th:src="@{'assets/js/jquery.min.js'}"></script>
    <script src="assets/js/popper.min.js" th:src="@{'assets/js/popper.min.js'}"></script>
    <script src="assets/js/bootstrap.min.js" th:src="@{'assets/js/bootstrap.min.js'}"></script>
    <script src="assets/js/metisMenu.min.js" th:src="@{'assets/js/metisMenu.min.js'}"></script>
    <script src="assets/js/waves.js" th:src="@{'assets/js/waves.js'}"></script>
    <script src="assets/js/jquery.slimscroll.js" th:src="@{'assets/js/jquery.slimscroll.js'}"></script>

    <!-- App js -->
    <script src="assets/js/jquery.core.js" th:src="@{'assets/js/jquery.core.js'}"></script>
    <script src="assets/js/jquery.app.js" th:src="@{'assets/js/jquery.app.js'}"></script>
</section>