<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <section th:replace="template/muster :: head-link"></section>
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <section th:replace="template/navbar :: navbar"></section>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Start content -->
                        <h4 class="header-title m-t-0 m-b-20">Create or Update Customer</h4>
                        <!-- End content -->
                        <form action="#" method="post" th:action="@{/customer/save}" th:object="${customer}">
                            <input th:field="*{id}" type="hidden">
                            <div class="form-group">
                                <label class="col-sm-3 col-form-label" for="name">Name:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Customer Name." th:field="*{name}"
                                           type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-form-label" for="address">Address:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Enter Address" th:field="*{address}"
                                           type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-form-label" for="phone">Phone:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" max="13" min="7" placeholder="Enter Phone Number"
                                           th:field="*{phone}" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-form-label" for="email">Email:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" placeholder="Enter Email Address" th:field="*{email}"
                                           type="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-form-label" for="active">Status:</label>
                                <div class="col-sm-9">
                                    <select class="form-control" th:field="*{active}">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <input class="btn btn-success btn-sm" type="submit" value="Add Customer">
                        </form>
                    </div>
                </div>
            </div>
            <section th:replace="template/footer :: footer"></section>
        </div>
    </div>
</div>
<section th:replace="template/script :: script"></section>
</body>
</html>