<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <section th:replace="template/muster :: head-link"></section>
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <section th:replace="template/navbar :: navbar"></section>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Start content -->
                        <h4 class="header-title m-t-0 m-b-20">Create New Customer</h4>
                        <!-- End content -->
                        <form action="#" method="post" th:action="@{/customer/save}" th:object="${customer}">
                            <input th:field="*{name}" type="text">
                            <input type="submit" value="Add Customer">
                        </form>
                    </div>
                </div>
            </div>
            <section th:replace="template/footer :: footer"></section>
        </div>
    </div>
</div>
<section th:replace="template/script :: script"></section>
</body>
</html>