<section th:fragment="head-link" xmlns:th="http://www.thymeleaf.org">
    <title>Fusion Autos || Application</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
    <!-- App css -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/icons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/metismenu.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" type="text/css"/>
    <script th:src="@{/assets/js/modernizr.min.js}"></script>
</section>